<ion-content>
<div class="background">
  <img src="assets/icon/onbordinglogo.png">
  <div style="height: 90%;
  display: flex;
  align-items: flex-end;">
  <p class="firsttext">Investment advice<br> that makes dreams<br> come true</p>
</div>
</div>
<ion-button expand="full" fill="outline" class="fstbuttn" [routerLink]='["/login"]'>Login</ion-button>
<ion-button expand="block" class="signupbutton" (click)="signup()">Sign&nbsp;<p style="text-transform: lowercase;">up</p></ion-button>
</ion-content>
