<ion-content style="--background: #FCFCFC;">
  <div class="header-section">
    <ion-row style="margin-top: -4px;">
      <ion-col size="1.3" class="ion-no-padding">
        <div class="back-button-img" (click)="backBtn()">
        </div>
      </ion-col>
      <ion-col size="10.7" class="ion-no-padding">
        <img src="assets/icon/logo.png">
      </ion-col>
    </ion-row>
  </div>

  <div style="margin: 70px 25px 25px 25px;">
    <div class="create-password-title">
      Create password
    </div>
    <span class="set-strong-password">Set a strong password to keep your account secure.</span>
    <form  [formGroup]="passwordset" (ngSubmit)="onSubmit()">
      <p class="set-password">Set Password</p>
        <ion-item id="seconditem" [ngClass]="passwordset?.errors == 'fastitem'" lines="none">
          <ion-input class="passwordinput" name="password" type="password" [type]="showPassword ? 'text':'password'" formControlName="password"  placeholder="Enter" required></ion-input>
          <!-- <ion-icon class="show" [name]="passwordToggleIcon" (click)="toggleNewPassword()"></ion-icon> -->
          <img src="{{passwordToggleIcon}}" [name]="passwordToggleIcon" (click)="toggleNewPassword()" class="eyeimage">
        </ion-item>
        <p *ngIf="passwordset?.password?.error?.minLength && passwordset?.password?.error?.maxLength" class="error" style="color: red;font-size: 11px;">Password length must be between 8 and 16 characters.</p>

        <p class="set-password">Confirm Password</p>
        <ion-item id="seconditem" lines="none">
          <ion-input class="passwordinput" name="password" type="password"  formControlName="conformpassword"  placeholder="Enter Password"></ion-input>
          <!-- <ion-icon class="show" [name]="passwordCToggleIcon" (click)="toggleCNewPassword()"></ion-icon> -->
          <!-- <img src="{{passwordCToggleIcon}}" [name]="passwordCToggleIcon" (click)="toggleCNewPassword()" class="eyeimage"> -->
        </ion-item>
        <p *ngIf="passwordset.hasError('notSame')" style="color: red;font-size: 11px;">Password do not match. Please retry.</p>
        <ion-button expand="block" [disabled]="!passwordset.valid" class="save-password" (click)="onSubmit()">Save</ion-button>
    </form>
  </div>
</ion-content>
