
.back-button-img {
    background: transparent url(././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}

.header-section {
    padding: 16px 25px 0px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #FFFFFF;
    height: 48px;
    }
.ion-no-padding{
    align-items: center;
    display: flex;
    text-align: start;
}

.set-password{
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    color: #797F91;
    margin: 0;
    padding-top: 24px;
}
.create-password-title {
    font-family: "Roboto Bold";
    font-size: 22px;
    letter-spacing: 0px;
    color: #07235C;
    opacity: 1;
    margin-top: 40px;
}

// .error {
    .fastitem{
        border: 1px solid #ff0000;
    }
    
// }

.signup{
    margin: 0;
    color: #707070;
    font-size: 14px;
    line-height: 25px;
}

#seconditem{--background: #FFFFFF;--border-style: none;border: 1px solid #67729429;
    border-radius: 4px;height: 40px;}

.save-password{
    font-family: 'Roboto Medium';
    --background: #2835D5;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    --border-radius: 11px;
    height: 54px;
    margin: 8vh 1px 6vh 1px;
    letter-spacing: 0px;
}

.eyeimage{
    width: 22px;
    margin-bottom: 11px;
  }
  
.set-strong-password{
    text-align: left;
    font-size: 12px;
    font-family: 'Roboto';
    letter-spacing: 0.12px;
    color: #8B94B4;
    opacity: 1;
}

.passwordinput{
    color: black;
     --placeholder-color: #677294;
    --placeholder-opacity: none;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 21px;letter-spacing: 0;
    margin-left: 6px;
    margin-bottom: 2px;
    --padding-top: 0px;
}


.show{color: gray;margin-top: 5px;margin-right: 6px;}

