ion-content{
    --background: transparent;
}
.line{
    height: 4px;
    background: #ACACAC;
    border-radius: 10px;
    // margin-top: 20px;
    width: 42px;
}
.bankname{
    letter-spacing: 0px;
    color: #000000;
    margin: 0px;
    font-size: 17px;
    font-family: 'Roboto Medium';
}
.total-balance{
    margin: 0;
    font: normal normal bold 18px/20px Roboto;
    letter-spacing: 0px;
    color: #1C162E;
}
.percentage{
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0.16px;
    color: #11BE74;
    margin: 0;
}
.all{
    background: white;
    border-radius: 30px 30px 0px 0px;
    padding: 23px 23px 0px 23px;
}
.avanti-feed{
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
    font-size: 17px;
    line-height: 23px;
    font-family: 'Roboto Medium';
}
.percentage{
    font: normal normal normal 16px/24px Roboto;
    letter-spacing: 0.16px;
    color: #11BE74;
    margin: 0;
}
.total-price{
    font: normal normal bold 18px/17px Roboto;
    letter-spacing: 0px;
    color: #1C162E;
    margin: 0;
}
.flag{
    height: 14px;
}
.row1{
    padding-top: 19px;
    border-bottom: 1px solid #EBEBEB;
    padding-bottom: 10px;
}
.average-price{
    font: normal normal normal 18px/14px Roboto;
    letter-spacing: 0px;
    color: #393939;
    margin: 0;
}
.average-cost{
    font: normal normal normal 14px/16px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    margin: 0;
}
.col{
    padding: 0;
}
.note{
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #979797;
    margin: 0;
    padding-top: 40px;
}
.sell{
    // font: normal normal medium 18px/38px Roboto;
    font-family: 'Roboto Medium';
    --background: #2835D5;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    --border-radius: 11px;
    height: 45px;
    margin-top: 15px;
}
.row1{
    height: 44px;
    padding-top: 10px;
} 
.guidelinereview{font: normal normal normal 13px/13px Roboto;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;}
.icon{
    color: #393939;
    // margin-left: 35px;
} 
.request-summary{
    margin: 0;
    letter-spacing: 0px;
    color: #000000;
    font-size: 17px;
    font-family: 'Roboto Medium';
    text-align: start;
}
.ion-no-padding{
    text-align: end;
}
.sync{
    font: normal normal normal 18px/19px Roboto;
    letter-spacing: 0px;
    color: #707070;
    text-transform: uppercase;
    margin: 0;
}
.advice{
    font: normal normal normal 12px/12px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    margin: 0;
}
.buy{
    letter-spacing: 0px;
    color: #11BE74;
    margin: 0;
    font-size: 14px;
    line-height: 11px;
    font-family: 'Roboto Medium';
}
.price{
    padding-top: 14px;
    font: normal normal normal 16px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
}
.purchase-amount{
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    color: #797F91;
    margin: 0;
}
.item{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #67729429;
    border-radius: 4px;
    height: 40px;
}
ion-input{
    margin-bottom: 2px;
    --padding-top: 0px;
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
}
.save{
    font-family: 'Roboto Medium';
    --background: #2835D5;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    --border-radius: 12px;
    height: 54px;
    letter-spacing: 0px;
    margin-top: 33px;
    // width: 335px;
    // margin: auto;
    // display: block;
}