.back-button-img {
    background: transparent url(././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}
.header-section {
    padding: 16px 25px 0px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #FFFFFF;
    height: 48px;
    }
.ion-no-padding{
    align-items: center;
    display: flex;
    text-align: start;
}
.changepassword{
    margin: 0;
    font: normal normal bold 24px/30px Roboto;
    letter-spacing: 0px;
    color: #07235C;
    padding-top: 30px;
}
.signup {
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Roboto Medium';
}
.current-password{
    margin: 0;
    font: normal normal normal 14px/27px Roboto;
    letter-spacing: 0px;
    color: #797F91;
    padding-top: 10px;
}
#seconditem{--background: #FFFFFF;--border-style: none;border: 1px solid #67729429;
    border-radius: 4px;height: 40px;
}
.passwordinput{color: black; --placeholder-color: #677294;
    --placeholder-opacity: none;font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 21px;letter-spacing: 0;
    margin-left: 6px;
    margin-bottom: 2px;
    --padding-top: 0px;
}
.eyeimage{
    width: 22px;
    margin-bottom: 11px;
  }

  .save-password{
    font-family: 'Roboto Medium';
    --background: #2835D5;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    --border-radius: 11px;
    height: 54px;
    margin: 6vh 0px 0vh 0px;
    letter-spacing: 0px;
}
