.back-button-img {
    background: transparent url(./././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}

.signup {
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Roboto Medium';
}

.header-section {
    padding: 16px 25px 0px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #FFFFFF;
    height: 48px;
    }
.ion-no-padding{
    align-items: center;
    display: flex;
    text-align: start;
}
.from{
    font: normal normal normal 12px/22px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    margin: 0;
    padding-top: 10px;
}
.input{
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #67729429;
    border-radius: 4px;
    letter-spacing: 0px;
    color: #8B94B4;
    font: normal normal normal 12px/22px Roboto;
    padding-left: 10px !important;
}
.textarea-item {
    color: #393939;
    margin-bottom: 16px;
    height: 59px;
    --background: #FFFFFF;
    --border-style: none;
    border: 1px solid #67729429;
    border-radius: 4px;
    --highlight-background: none;
}
ion-textarea {
    color: #707070;
    font-size: 14px;
    letter-spacing: 0px;
    // margin-top: 0px;
}
.verify-number {
    font-family: 'Roboto Medium';
    --background: #2835D5;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    --border-radius: 11px;
    height: 45px;
    margin: 5vh 1px 6vh 1px;
    letter-spacing: 0px;
}