<ion-content style="--background: #FFFFFF;">
  <div class="all">
    <div style="text-align: -webkit-center;" (click)="closemodal()">
      <div class="line"></div>
    </div>
    <ion-row  class="row1">
      <ion-col size="6">
        <img src="assets/svg/india.svg" class="flag">
        <p class="avanti-feed">Avanti Feeds</p>
      </ion-col>
      <ion-col size="6" style="text-align: end;">
        <p class="percentage">38%</p>
        <p class="total-price">₹ 14,847</p>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 40px;">
      <ion-col size="4" class="col">
        <p class="average-price">₹100</p>
        <p class="average-cost">Average Cost</p>
      </ion-col>
      <ion-col size="0.5" class="col">
        <p style="margin: 0;">x</p>
      </ion-col>
      <ion-col size="2" class="col">
        <p class="average-price">12</p>
        <p class="average-cost">Quantity</p>
      </ion-col>
      <ion-col size="0.8" class="col">
        <p style="margin: 0;">=</p>
      </ion-col>
      <ion-col size="4.7" class="col">
        <p class="average-price">₹1200</p>
        <p class="average-cost">Investment Amount</p>
      </ion-col>
    </ion-row>

    <ion-row style="padding-top: 40px;">
      <ion-col size="4" class="col">
        <p class="average-price">₹250.0</p>
        <p class="average-cost">Share Price</p>
      </ion-col>
      <ion-col size="0.5" class="col">
        <p style="margin: 0;">x</p>
      </ion-col>
      <ion-col size="2" class="col">
        <p class="average-price">12</p>
        <p class="average-cost">Quantity</p>
      </ion-col>
      <ion-col size="0.8" class="col">
        <p style="margin: 0;">=</p>
      </ion-col>
      <ion-col size="4.7" class="col">
        <p class="average-price">₹3,000</p>
        <p class="average-cost">Current Value</p>
      </ion-col>
    </ion-row>

    <p class="note">Note - All displayed data is end of day.</p>
    <ion-row>
      <ion-col size="6">

      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="sell">Sell</ion-button>
      </ion-col>
    </ion-row>
   
  </div>  
</ion-content>
<!-- ***************** for input floating************* -->
<!-- <div class="all">
  <div style="text-align: -webkit-center;" (click)="closemodal()">
    <div class="line"></div>
  </div>

  <div style="margin: 17px;">
    <ion-row>
      <ion-col size="6">
        <img src="assets/svg/india.svg">
        <p class="bankname">HDFC Bank Ltd.</p>
        <ion-input placeholder="text" style="color: black;"></ion-input>
      </ion-col>
      <ion-col size="6" style="text-align: end;">
        <p class="percentage">38%</p>
        <p class="total-balance">₹ 14,847</p>
      </ion-col>
    </ion-row>
  </div>
</div> -->
