.back-button-img {
    background: transparent url(./././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}
.signup{
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-family: 'Roboto Medium';
    font-size: 14px;
    line-height: 25px;
}
.header-section {
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #FCFCFC;
}
.your-name{
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: 0px;
    color: #797F91;
    margin: 0;
}
.passwordinput {
    margin-bottom: 10px;
    color: black;
    --placeholder-color: #677294;
    --placeholder-opacity: none;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0;
    // margin-left: 6px;
    // margin-top: 7px;
    // margin-bottom: 7px;
  }
  ion-item{--background: #FFFFFF;--border-style: none;border: 1px solid #67729429;
    border-radius: 4px;height: 40px;margin-bottom: 11px;}
 
.select {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}   
.signupbutton {
    --background: #2835D5;
    text-transform: capitalize;
    font-size: 18px;
    color: white;
    --border-radius: 11px;
    height: 45px;
    margin: 174px 0px 0px 0px;
    letter-spacing: 0px;
    font-family: "Roboto Medium";
    line-height: 38px;
}