.back-button-img {
    // background: transparent url(./././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}
.signup{
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-size: 14px;
    line-height: 25px;
}
.image{width: 72%;
    margin-top: 5vh;
    margin-left: 7vh;
}
.requestsuccessfull{
    letter-spacing: 0px;
    color: #000000;
    font-size: 28px;
    font-family:'Roboto Medium';
    text-align: center;
}
.thanyouawesome{
    letter-spacing: 0px;
    color: #797F91;
    font-size: 14px;
    text-align: center;
    margin: 0;
}
.signupbutton{--background: #2835D5;
    text-transform: capitalize;
    font-family: 'Roboto Medium';
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    --border-radius: 12px;
    height: 54px;
    margin: 180px 0px 0px 0px;
    letter-spacing: 0px;}