<div class="header-section">
  <ion-row>
    <ion-col size="1.3" class="ion-no-padding">
      <div class="back-button-img" (click)="backBtn()">
        <img src="assets/icon/back.png">
      </div>
    </ion-col>
    <ion-col size="10.7" class="ion-no-padding">
      <p class="signup">Blog</p>
    </ion-col>
  </ion-row>
</div>
<ion-content style="--background: #FCFCFC;" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <div class="guideline">
      <span style="font-size: 13px;margin: auto;">Please read the Savart community guidelines.</span>
      <ion-icon name="chevron-forward-outline" style="margin: auto;"></ion-icon>
    </div>
    <div class="container">
      <ion-list *ngFor="let data of datas">
        <div class="types">{{data.name}}</div>
      </ion-list>
    </div>
    <div class="container">
      <ion-list *ngFor="let data of savartBenefits; let i = index">
        <div [ngClass]="i%2 == 0?'savart-benefits-even':'savart-benefits-odd'">
          <div class="div1">{{data.div1}}</div>
          <ion-button class="div2">{{data.div2}}</ion-button>
        </div>
      </ion-list>
    </div>
    <div >
      <ion-list *ngFor="let blog of blogs;">
        <ion-row style="margin:15px" *ngIf="blog.type == 'blog'" (click)="goToAnnoucement(blog)">
          <ion-col size="9">
            <div style="display: flex;font-size: 12px; opacity: 0.3;margin-bottom: 3px;">
              {{blog.text1}} | {{blog.text2}} | {{blog.text3}}
            </div>
            <div class="div1">{{blog.text4}}</div>
            <div class="continue-reading">{{blog.text5}}</div>
          </ion-col>
          <ion-col size="3">
            <ion-icon class="share-icon" name="share-social-outline"></ion-icon>
            <img class="stock-img" src="../../../../assets/icon/MaskGroup18147.png">
          </ion-col>
        </ion-row>
        <ion-card id="videoTag" style="margin: 15px;" *ngIf="blog.type != 'blog'">
          <div style="padding: 5px 5px 2px 5px;">
              <iframe width="100%" height="180" src="https://www.youtube.com/embed/nkprrx-F3ko?enablejsapi=1"
              frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
              gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </ion-card>
        <div class="line-border"></div>
      </ion-list>
    </div>
</ion-content>