.back-button-img {
    // background: transparent url(./././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}
.signup{
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-size: 14px;
    line-height: 25px;
}
.ion-no-padding{
    text-align: center;
}
.invest-redy{
    margin: 0;
    font-size: 17px;
    font-family: 'Roboto Medium';
    letter-spacing: 0px;
    color: #000000;
}
.date{
    margin: 0;
    font: normal normal normal 12px/20px Roboto;
    letter-spacing: -0.28px;
    color: #8B94B4;
}
.row{
    height: 87px;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
}
.round{
    background: #2835D5;
    height: 11px;
    width: 10px;
    border-radius: 6px;
    margin-left: 2px;
}
.last-col{
    color: black;
    text-align: center;
}
.no-notification{
    font: normal normal medium 22px/27px Roboto;
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
}
.well-notify{
    font: normal normal normal 14px/24px Roboto;
    letter-spacing: -0.32px;
    color: #8B94B4;
    margin: 0;
}