<ion-header>
    <ion-toolbar style="--background: #FFFFFF;">
      <ion-buttons slot="start" style="margin-left: 7px;">
        <ion-menu-button style="color:black"></ion-menu-button>
      </ion-buttons>
     <ion-row>
         <ion-col size="6" style="display: flex;
         padding: 0;">
            <img src="assets/icon/logo.png" class="logo">
         </ion-col>
         <ion-col style="text-align: end;" size="6">
         </ion-col>
     </ion-row>
    </ion-toolbar>
  </ion-header>
<ion-content style="--background: #FCFCFC;">
    <!-- <div style="margin: 25px 25px 11px 25px;">
        <ion-row>
          <ion-col size="1.3" >
            <div class="back-button-img" (click)="backBtn()">
              <img src="assets/icon/back.png">
            </div>
          </ion-col>
          <ion-col size="9.4" class="ion-no-padding">
            <p class="signup">Notifications</p>
          </ion-col>
          <ion-col size="1.3" style="text-align: end;" (click)="eyeicon()">
          </ion-col>
        </ion-row>
    </div>   -->
    <!-- <div style="padding: 0px 25px 11px 25px;background: #F5F5F5;">
        <ion-row class="row">
            <ion-col size="1.5">
                <img src="assets/icon/bulb.png" style="height: 20px;">
            </ion-col>
            <ion-col size="9">
                <p class="invest-redy">Your Investment Advice is ready</p>
                <p class="date">Aug 12, 2020 at 12:08 PM</p>
            </ion-col>
            <ion-col size="1.5">

            </ion-col>
        </ion-row>

        <ion-row class="row">
            <ion-col size="1.5">
                <div class="round"></div>
            </ion-col>
            <ion-col size="9">
                <p class="invest-redy">Your Investment Advice is ready</p>
                <p class="date">Aug 12, 2020 at 12:08 PM</p>
            </ion-col>
            <ion-col size="1.5">

            </ion-col>
        </ion-row>

        <ion-row class="row">
            <ion-col size="1.5">
                <img src="assets/icon/bell.png" style="height: 20px;">
            </ion-col>
            <ion-col size="9">
                <p class="invest-redy">Your Investment Advice is ready</p>
                <p class="date">Aug 12, 2020 at 12:08 PM</p>
            </ion-col>
            <ion-col size="1.5" class="last-col">
                <ion-icon name="chevron-down-outline"></ion-icon>
            </ion-col>
        </ion-row>
    </div> -->
    <div style="padding: 0px 25px 0px 25px;">
        <div style="text-align: center;
        margin-top: 50%;">
            <img src="assets/icon/no-notification.png">
            <p class="no-notification">No notifications</p>
            <p class="well-notify">We'll notify you when something arrives</p>
        </div>
    </div>
</ion-content>
