<ion-content>
  <ion-row>
    <ion-col>
      <div style="text-align: center;">
        <div class="heading">Upstox API</div>
        <div class="box-model">
          <img class="upstox-image" src="assets/icon/upstox.png" width="57">
          <div class="username-section">
            <ion-label class="label">Username</ion-label>
            <ion-input typs="text" class="input-text"></ion-input>
          </div>
          <div class="password-section">
            <ion-label class="label">Password</ion-label>
            <ion-input type="password" class="input-text"></ion-input>
          </div>

          <div class="login-btn">
            <span class="login">Login</span>
          </div>
        </div>
      </div>
      <div class="go-back">Go Back</div>
    </ion-col>
  </ion-row>
</ion-content>