<ion-header>
  <ion-toolbar style="--background: #FFFFFF;">
    <ion-buttons slot="start" style="margin-left: 7px;">
      <ion-menu-button style="color:black"></ion-menu-button>
    </ion-buttons>
   <ion-row>
       <ion-col size="6" style="display: flex;
       padding: 0;">
          <img src="assets/icon/logo.png" class="logo">
       </ion-col>
       <ion-col style="text-align: end;" size="6">
       </ion-col>
   </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-div">
    <img src="assets/icon/Avatar.png" class="image">
    <p class="fullname">Monica Rao</p>
    <p class="dab">dab252</p>
  </div>

  <div style="margin: 25px;">
    <ion-row class="row" [routerLink]="[ '/personal-profile']">
      <ion-col size="10">
        <p class="personal-profile">Personal Profile</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-icon name="chevron-forward-outline" class="arrowicon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col size="10">
        <p class="personal-profile" [routerLink]="[ '/investment-profile']">Investment Profile</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-icon name="chevron-forward-outline" class="arrowicon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col size="10">
        <p class="personal-profile" [routerLink]="[ '/tab/goal-manager']">Goal Manager</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-icon name="chevron-forward-outline" class="arrowicon"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
