<ion-header>
  <ion-toolbar style="--background: #FFFFFF;">
    <ion-buttons slot="start" style="margin-left: 7px;">
      <ion-menu-button style="color:black"></ion-menu-button>
    </ion-buttons>
   <ion-row>
       <ion-col size="6" style="display: flex;
       padding: 0;">
          <img src="assets/icon/logo.png" class="logo">
       </ion-col>
       <ion-col style="text-align: end;" size="6">
       </ion-col>
   </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="image-div">
    <img src="assets/icon/Avatar.png" class="image">
    <p class="fullname">Monica Rao</p>
    <p class="dab">dab252</p>
  </div>

  <div style="margin: 25px;">
    <div>
    <div class="profile-status">
      <ion-row>
        <ion-col size="8.5" style="display: flex;">
          <p class="my-profile-status">My Profile Status</p>
          <p class="percentage">25%</p>
        </ion-col>
        <ion-col size="3.5">
          <div class="view-btn">
            Complete
          </div>
        </ion-col>
      </ion-row>

      <div style="display: flex;margin-top: 30px;padding-left: 22px;
      padding-right: 22px;">
        <div>
          <ion-icon name="checkmark-outline" [ngStyle]="{'border-color': planreached ? '#11BE74 ' :'white'}" class="right-icon"></ion-icon>
        </div>
        
        <ion-progress-bar [value]="r_bar_value" ></ion-progress-bar>
        <!-- <p class="personal" ><br>Personal</p> -->
        <div>
          <ion-icon name="checkmark-outline" [ngStyle]="{'border-color': planreachedome ? '#11BE74' :'#B3BCDB'}" class="right-icon"></ion-icon>
        </div>
        
        <ion-progress-bar [value]="k_bar_value" ></ion-progress-bar>
        <div>
          <ion-icon name="checkmark-outline" [ngStyle]="{'border-color': planreachedome ? '#11BE74' :'#B3BCDB'}" class="right-icon"></ion-icon>
        </div>
        <ion-progress-bar [value]="k_bar_value" ></ion-progress-bar>
        <div>
          <ion-icon name="checkmark-outline" [ngStyle]="{'border-color': planreachedome ? '#11BE74' :'#B3BCDB'}" class="right-icon"></ion-icon>
        </div>
        <!-- <br>
        <p class="personal" >Personal</p>
        <p class="personal" >Investment</p>
        <p class="personal" >Goal</p>
        <p class="personal">Request</p> -->
      </div>
      <ion-row>
        <ion-col size="" style="text-align: center;">
          <p class="personal" >Personal</p>
        </ion-col>
        <ion-col size="" style="text-align: center;">
          <p class="personal" >Investment</p>
        </ion-col>
        <ion-col size="" style="text-align: center;">
          <p class="personal" >Goal</p>
        </ion-col>
        <ion-col size="" style="text-align: center;">
          <p class="personal" >Request</p>
        </ion-col>

      </ion-row>
        
        <!-- <p class="personal" id="Investment">Investment</p>
        <p class="personal" id="Goal">Goal</p>
        <p class="personal" id="Request">Request</p> -->
     
    </div>
  </div>
    <ion-row class="row" [routerLink]="[ '/personal-profile']">
      <ion-col size="10">
        <p class="personal-profile">Personal Profile</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-icon name="chevron-forward-outline" class="arrowicon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col size="10">
        <p class="personal-profile" [routerLink]="[ '/investment-profile']">Investment Profile</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-icon name="chevron-forward-outline" class="arrowicon"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col size="10">
        <p class="personal-profile" [routerLink]="[ '/tab/goal-manager']">Goal Manager</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-icon name="chevron-forward-outline" class="arrowicon"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="invest-reqst">
      <ion-row>
        <ion-col size="2">
          <div class="number-div">
            <p class="number">24</p>
          </div>
        </ion-col>
        <ion-col size="10">
          <p class="investment-request">Additional Investment Request</p>
          <p class="get-invest-advice">Get investment advice</p>
        </ion-col>
      </ion-row>
    </div>

    <div class="invest-rievew">
      <ion-row>
        <ion-col size="2">
          <div class="number-div">
            <p class="number-one">04</p>
          </div>
        </ion-col>
        <ion-col size="10">
          <p class="investment-request">Investment Review</p>
          <p class="get-invest-advice">Get your portfolio reviewed.</p>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
