.header-section {
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #FCFCFC;
}
.ion-no-padding{
    align-items: center;
    display: flex;
    text-align: start;
}

.back-button-img {
    background: transparent url(././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}
.mobile-number-title {
    font-family: "Roboto Bold";
    font-size: 24px;
    letter-spacing: 0px;
    color: #393939;
    opacity: 1;
    margin-top: 40px;
}
.mobile-number{
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    color: #797F91;
    margin: 0;
    margin-top: 45px;
}

.passwordinput {
    color: black;
    --placeholder-color: #677294;
    --placeholder-opacity: none;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 300;
    font-stretch: normal;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0;
    margin-left: 6px;
    // margin-top: 7px;
    // margin-bottom: 7px;
  }
  ion-item{--background: #FFFFFF;--border-style: none;border: 1px solid #67729429;
    border-radius: 4px;height: 54px;}
    .save-password{
        font-family: 'Roboto Medium';
        --background: #2835D5;
        text-transform: capitalize;
        font-size: 18px;
        color: white;
        --border-radius: 11px;
        height: 45px;
        margin: 8vh 1px 6vh 1px;
        letter-spacing: 0px;
    }  