<ion-content style="--background: #FCFCFC;">
  <div style="margin: 12px 11px 11px 11px;">
    <ion-row>
      <ion-col size="7" class="ion-no-padding">
        <!-- <p class="request-summary">Request Summary</p> -->
      </ion-col>
      <ion-col size="5" class="ion-no-padding" (click)="backBtn()">
        <img src="assets/svg/cross.svg">
      </ion-col>
    </ion-row>

    <div style="text-align: center;">
      <img src="assets/icon/demat.png" style="height: 34px;">
      <p class="service-demat">Please link your demat account to access all the services.</p>
      <p class="access-profile">Until then you will be able to access the profile, support and inbox sections only.</p>
    </div>
    <ion-button expand="block"  class="save-password" >Link my demat account</ion-button>
  </div>  
</ion-content>