.back-button-img {
    width: 24px;
    height: 24px;
}
.signup{
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Roboto Medium';
}
.header-section {
    padding: 16px 25px 0px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #FFFFFF;
    height: 48px;
    }
.ion-no-padding{
    align-items: center;
    display: flex;
    text-align: start;
}

.first-text {
    margin: 0;
    letter-spacing: 0px;
    color: #393939;
    opacity: 1;
    font-size: 18px;
    // font-family: 'Roboto';
    font-family: 'Roboto Medium';
    padding-bottom: 4px;
}

.first-text-div {
    border-bottom: 1px solid #EBEBEB;
    margin-top: 15px;
    margin-bottom: 15px;
}

.slctitm {
    color: #393939;
    margin-bottom: 16px;
    height: 40px;
    --background: #FFFFFF;
    --border-style: none;
    border: 1px solid #67729429;
    border-radius: 4px;
}

.contryselect {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.select {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;

}

.select-country {
    font-size: 12px;
    // margin-top: 5px !important;
    margin: 0;
    letter-spacing: 0px;
    margin-bottom: 5px;
    color: #8B94B4;
}

.flag {
    width: 23px;
    height: 15px;
    margin-bottom: 11px;
}

.investment-item {
    --background: #FFFFFF;
    --border-style: none;
    // margin-top: 17px;
    border: 1px solid #67729429;
    border-radius: 4px;
    height: 40px;
    margin-bottom: 16px;
}

ion-datetime {
    margin-top: -2vw;
    font-size: 16px;
    color: #000000;
}

.textarea-item {
    color: #393939;
    margin-bottom: 16px;
    height: 59px;
    --background: #FFFFFF;
    --border-style: none;
    border: 1px solid #67729429;
    border-radius: 4px;
    --highlight-background: none;
}

.investment-price {
    color: #000000;
    font-size: 14px;
    font-family: 'Roboto';
    margin: 0;
    margin-bottom: 10px;
}

ion-textarea {
    color: #707070;
    font-size: 14px;
    letter-spacing: 0px;
    margin-top: 0px;
}

.divider {
    margin-left: 10px;
    margin-right: 3px;
    height: 25px;
    width: 2px;
    background-color: #3259E7;
    // border: 1px solid #3259E7;
    margin-bottom: 10px;
}

.signupbutton {
    --background: #2835D5;
    text-transform: capitalize;
    font-family: 'Roboto Medium';
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    --border-radius: 12px;
    height: 54px;
    margin-top: 20px;
    letter-spacing: 0px;
}

ion-input {
    color: black;
    margin-bottom: 9px;
}

.addmorebutton{
    margin-top: 2vh;
    height: 40px;
    --border-radius: 26px;
    /* font: normal normal normal 14px/11px Roboto; */
    letter-spacing: 0px;
    color: #2835D5;
}
.addimage{
    width: 14%;
}
.button-ptag{
    letter-spacing: 0px;
    color: #2835D5;
    font-size: 14px;
    margin-left: 8px;
    text-transform: capitalize;
}

ion-button{
    --padding-start: 0px;
    --padding-end: 0px;
}