<ion-header>
    <ion-toolbar style="--background: #FFFFFF;">
        <ion-buttons slot="start" style="margin-left: 7px;">
            <ion-menu-button style="color:black"></ion-menu-button>
        </ion-buttons>
        <ion-row>
            <ion-col size="6">
                <img src="assets/icon/logo.png" class="logo">
            </ion-col>
            <!-- <ion-col style="text-align: end;" size="6">
                <div style="text-align: -webkit-right;">
                    <ion-item class="slctitm">
                        <img src="assets/svg/india.svg" class="country-image">
                        <ion-select [(ngModel)]="frequency" class="select" value="india"
                            (ionChange)="frequenceChange()">
                            <ion-select-option value="month">India</ion-select-option>
                            <ion-select-option value="week">Canada</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </ion-col> -->
        </ion-row>
    </ion-toolbar>
</ion-header>
<ion-content style="--background: #FCFCFC" [scrollEvents]="true" (ionScroll)="onScroll($event)">
    <ion-card id="videoTag" style="margin: 15px;">
        <div style="padding: 5px 5px 2px 5px;">
            <iframe width="100%" height="180" src="https://www.youtube.com/embed/nkprrx-F3ko?enablejsapi=1"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media;
            gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </ion-card>
    <div class="savart-benefits">Savart Benefits</div>
    <div class="container">
        <ion-list *ngFor="let data of savartBenefits; let i = index">
            <div [ngClass]="i%2 == 0?'savart-benefits-even':'savart-benefits-odd'">
                <img [src]="data.image" height="26">
                <div class="label1">{{data.div1}}</div>
                <div class="label2">{{data.div2}}</div>
            </div>
        </ion-list>
    </div>
    <div class="start-invest">
        <ion-row center>
            <ion-col size="3">
            </ion-col>
            <ion-col size="7" class="start-invest-text" (click)="bankdetails()">
                <span>Start Investing</span>
            </ion-col>
            <ion-col size="2" style="margin-top: 8px;">
                <ion-icon name="arrow-forward-circle"></ion-icon>
            </ion-col>
        </ion-row>
    </div>
    <!-- <div class="portfolio-div">
        <p class="Portfolio">Portfolio</p>
        <div class="portfolio-box">
            <ion-row class="row">
                <ion-col size="7">
                    <div style="display: flex;">
                        <p class="price">₹ 14,847</p>
                        <p class="percentage">48%</p>
                    </div>
                    <p class="current-value">Current Value</p>
                </ion-col>
                <ion-col size="5" style="text-align: end;">
                    <p class="totalprice">₹ 10,000</p>
                    <p class="invested-amount">Invested Amount</p>
                </ion-col>
            </ion-row>
            <div class="last-div-portfolio">
                <p class="myprofit">My Profit</p>
                <p class="myprice">₹ 4,847</p>
            </div>
        </div>
    </div> -->
    <!-- <div class="full-div"> -->
        <!-- <div>
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
        </div>

        <ion-row>
            <ion-col size="8">
                <p class="Investments">Investments</p>
            </ion-col>
            <ion-col size="4">
                <div style="text-align: -webkit-right;">
                    <ion-item class="slctitm1">
                        <ion-select [(ngModel)]="frequency" class="select" value="india"
                            (ionChange)="frequenceChange()">
                            <ion-select-option value="month">All</ion-select-option>
                            <ion-select-option value="week">Canada</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            </ion-col>
        </ion-row>
    </div>
    <ion-row class="last-row" (click)="edit()">
        <ion-col size="6">
            <p class="name">Name</p>
        </ion-col>
        <ion-col size="6" style="text-align: end;" (click)="bankdetails()">
            <p class="currentvalue">Current Value</p>
        </ion-col>
    </ion-row> -->
    <!-- <ion-row class="last-one-row">
        <ion-col class="colround">
            <div class="round"></div>
            <p class="bank">HDFC Bank Ltd.</p>
        </ion-col>
        <ion-col style="text-align: end;">
            <p class="bank-price">₹3,000</p>
        </ion-col>
    </ion-row> -->
    <!-- <ion-button (click)="open()">open</ion-button>
    <ion-button (click)="close()">close</ion-button> -->
    <!-- <div  style="color: black;">jhjh</div> -->

</ion-content>
<!-- <ion-footer *ngIf="modal == true"  >
    <div class="animate-bottom">
        <ion-row>
            <ion-col size="6">
                <img src="assets/svg/india.svg">
                <p class="bankname">HDFC Bank Ltd.</p>
            </ion-col>
            <ion-col size="6" style="text-align: end;">
                <p class="percentage">38%</p>
                <p class="total-balance">₹ 14,847</p>
            </ion-col>
        </ion-row>
    </div>
</ion-footer> -->