
<ion-content style="--background: #FCFCFC;">
  <div style="margin: 25px 25px 11px 25px;">
    
    <ion-row>
      <ion-col size="2" class="ion-no-padding">
        <div class="back-button-img" (click)="backBtn()">
          <img src="assets/icon/back.png">
        </div>
      </ion-col>
      <ion-col size="8" class="ion-no-padding">
        <p class="signup">Settings</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;" (click)="eyeicon()">
        <!-- <img src="assets/svg/iicon.svg"> -->
      </ion-col>
    </ion-row>

    <p class="choose-language" id="lang-age">Choose Language</p>
    <ion-item class="slctitm" lines="none">
      <ion-select  class="select" placeholder="Select">
        <ion-select-option value="Monthly">English</ion-select-option>
        <!-- <ion-select-option value="Weekly">Weekly</ion-select-option> -->
      </ion-select>
    </ion-item>

    <p class="choose-language">Default Currency Option</p>
    <ion-item class="slctitm"><img src="assets/svg/india.svg" class="flag">
      <ion-select  multiple="true" class="select" >
        <ion-select-option value="India">India</ion-select-option>
        <ion-select-option value="Canada">Canada</ion-select-option>
        <ion-select-option value="USA">USA</ion-select-option>
      </ion-select>
    </ion-item>

    <p class="choose-language">Default Time Zone</p>
    <ion-item class="slctitm"><img src="assets/svg/india.svg" class="flag">
      <ion-select   class="select" >
        <ion-select-option value="India">+5:30</ion-select-option>
        <!-- <ion-select-option value="Canada">Canada</ion-select-option> -->
        <!-- <ion-select-option value="USA">USA</ion-select-option> -->
      </ion-select>
    </ion-item>
  </div>


    <p class="notification">Notification</p>

    <ion-row class="row">
      <ion-col size="10">
        <p class="sms-notification">SMS </p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-toggle mode="md"></ion-toggle>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="10">
        <p class="sms-notification">App </p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-toggle mode="md"></ion-toggle>
      </ion-col>
    </ion-row>

    <ion-row class="row">
      <ion-col size="10">
        <p class="sms-notification">Mail </p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-toggle mode="md"></ion-toggle>
      </ion-col>
    </ion-row>
    <p class="notification">Other</p>

    <ion-row class="row">
      <ion-col size="10">
        <p class="sms-notification">Dark Mode</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;">
        <ion-toggle mode="md" color="tertiary"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row class="row">
      <ion-col size="10">
        <p class="sms-notification">Change Password</p>
      </ion-col>
      <ion-col size="2" style="text-align: end;" (click)="changepassword()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-col>
    </ion-row>
</ion-content>
