<div class="header-section">
  <ion-row style="margin-top: -8px;">
    <ion-col size="1.3" class="ion-no-padding">
      <div class="back-button-img" (click)="backBtn()">
      </div>
    </ion-col>
    <ion-col size="8.7" style="text-align: center;">
      <p class="signup">Investment Profile</p>
    </ion-col>
    <ion-col size="2" style="text-align: end;">
      <p class="save">Save</p>
    </ion-col>
  </ion-row>
</div>
<ion-content style="--background: #FCFCFC;">
  

  <div style="margin: 60px 25px 25px 25px;">
    <p class="firstname">Currency*</p>
    <ion-item class="slctitm"><img src="assets/svg/india.svg" class="flag">
      <ion-select  multiple="true" class="contryselect" >
        <ion-select-option value="India">India</ion-select-option>
        <ion-select-option value="Canada">Canada</ion-select-option>
        <ion-select-option value="USA">USA</ion-select-option>
      </ion-select>
    </ion-item>

    <p class="firstname">Annual income</p>
    <ion-input placeholder="Enter amount" class="input" type="text"></ion-input>

    <p class="firstname">Monthly savings</p>
    <ion-input placeholder="Enter amount" class="input" type="text"></ion-input>

    <p class="firstname">How often do you review your investment?</p>
    <ion-item class="slctitm" lines="none">
      <ion-select  class="select" placeholder="Select">
        <ion-select-option value="Monthly">Monthly</ion-select-option>
        <ion-select-option value="Weekly">Weekly</ion-select-option>
      </ion-select>
    </ion-item>

    <p class="firstname">What percentage of your investment are you comfortable losing the short term?</p>
    <ion-item class="slctitm" lines="none">
      <ion-select  class="select" placeholder="Select">
        <ion-select-option value="Monthly">Less than 20%</ion-select-option>
        <!-- <ion-select-option value="Weekly">Weekly</ion-select-option> -->
      </ion-select>
    </ion-item>

    <p class="underline">Wondering why we are discussing losses?</p>

    <p class="firstname">Number of dependents</p>
    <ion-item class="slctitm" lines="none">
      <ion-select  class="select" placeholder="Select">
        <ion-select-option value="Monthly">2</ion-select-option>
      </ion-select>
    </ion-item>

    <p class="firstname">Investment duration</p>
    <ion-segment mode="md"  (ionChange)="segmentChanged($event)" value="mobilenumber"
      class="seg">
      <ion-segment-button value="mobilenumber" mode="md">
        <ion-label  checked>Short term</ion-label>
        <p class="year">Less than 3 yrs</p>
      </ion-segment-button>&nbsp;
      <ion-segment-button value="Customerid" mode="md">
        <ion-label >Medium term</ion-label>
        <p class="year">3-5 yrs</p>
      </ion-segment-button>&nbsp;
      <ion-segment-button value="isds" mode="md">
        <ion-label >Long term</ion-label>
        <p class="year">More than 5 yrs</p>
      </ion-segment-button>
    </ion-segment>
  
    <p class="gold-bond">You will be recommended Mutual Funds, Gold & Bonds</p>
    <p class="firstname">Do you wish to get your existing investments reviewed?</p>
    <div class="checkbox">
      <ion-radio-group value="yes" >
        <ion-radio slot="start" value="yes" mode="md" ></ion-radio>
      </ion-radio-group><p class="yes">Yes</p>
      <ion-radio-group value="default" >
        <ion-radio slot="start" value="no" mode="md"></ion-radio>
      </ion-radio-group><p class="yes">No</p>
    </div>

    <p class="firstname">Your Investment Blacklist</p>
    <div class="blacklist-box">
      <ion-row>
        <ion-col size="8" style="padding-left: 0;">
          <p class="envirment-friendly">Environment friendly</p>
        </ion-col>
        <ion-col style="text-align: end;" (click)="investmentblacklist()">
          <img src="assets/icon/edit.png" style="height: 13px;">
        </ion-col>
      </ion-row>
      <p class="mining">Mining & Drilling, Non-biodegradable plastic & plastic based</p>
      <p class="sharia">Sharia</p>
      <p class="bank-investment">Banks, Investment companies, Insurance companies, Alcohol</p>
    </div>

    <div>
      <ion-row>
        <ion-col>
          <p></p>
        </ion-col>
      </ion-row>
    </div>
    <ion-button expand="block" >
      <p class="complete-profile">Save</ion-button>
      <p class="note">Note</p>
     <p class="edit-option">We request you to keep this section updated. </p><p class="edit-option"> Please note that while our intelligent system attempts to consider all your inputs, the final advice may not reflect all your choices given that the decision making is influenced by myriad factors.</p> 
  </div>  
</ion-content>
