.back-button-img {
    background: transparent url(./././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}
.signup{
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-size: 14px;
    line-height: 25px;
}
.firstname{
    margin: 0;
    font: normal normal normal 12px/22px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    padding-top: 20px;
}
// .slctitm{color: #393939;
//     margin-bottom: 16px;
//     height: 40px;
//     --background: #FFFFFF;
//     --border-style: none;
//     border: 1px solid #67729429;
//     border-radius: 4px;
// }
.flag{
    width: 23px;
    height: 15px;
    margin-bottom: 11px;
}    
.contryselect{
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 6px;
}
.input{
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #67729429;
    border-radius: 4px;
    letter-spacing: 0px;
    color: #8B94B4;
    font: normal normal normal 12px/22px Roboto;
    padding-left: 10px !important;
}  
.slctitm {
    color: #393939;
    // margin-bottom: 16px;
    height: 40px;
    --background: #FFFFFF;
    --border-style: none;
    border: 1px solid #67729429;
    border-radius: 4px;
}
.select {
    max-width: 100%;
    width: 100%;
    font-size: 14px;
    margin-bottom: 10px;
}  
.underline{
    text-decoration: underline;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #2835D5;
    margin: 0;
    padding-top: 6px;
    // margin-bottom: 20px;
} 
.checkbox{
    display: flex;
}
// .ioncheckbox{
//     --background: white;
//     --border-color: #808080a1;
//     width: 30px;
//     height: 20px;
//     z-index: 999999;
// }
.yes{
    padding-left: 4px;
    padding-right: 11px;
    margin: 0;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #393939;
}
ion-button{
    height: 54px;
    --background:#2835D5;
    --border-radius: 12px;
    margin-top: 30px;
    font: normal normal medium 18px/38px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.complete-profile{
    margin: 0;
    letter-spacing: 0px;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Roboto Medium';
    text-transform: capitalize;
}
.completed{
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.edit-option{
    font: normal normal normal 13px/18px Roboto;
    letter-spacing: 0px;
    color: #393939;
}
.note{
    padding-top: 10px;
    font: normal normal bold 13px/18px Roboto;
    letter-spacing: 0px;
    margin: 0;
    color: #424B6A;
}
ion-label{
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    // color: #8B94B4;
    text-transform: none;
    margin: 0;
}
ion-segment-button{
    border: 1px solid #DBDFED;
    border-radius: 4px;
    --indicator-box-shadow: transparent !important;
    --indicator-color: none;
    --color-checked: #2835D5;
    --color: #8B94B4;
    --background-checked: #E0E7FC;
}
.year{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #424B6A;
    margin: 0;
    text-transform: none;
}
.gold-bond{
    font: normal normal normal 14px/22px Roboto;
    letter-spacing: 0px;
    color: #08054E;
    margin: 0;
    padding-top: 6px;
}
.blacklist-box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #67729429;
    border-radius: 4px;
    height: 196px;
    padding: 13px;
}
.envirment-friendly{
    font: normal normal normal 14px/17px Roboto;
    letter-spacing: 0px;
    color: #393939;
    margin: 0;
}
.mining{
    font: normal normal normal 14px/20px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    margin: 0;
}
.sharia{
    font: normal normal normal 14px/60px Roboto;
    letter-spacing: 0px;
    color: #393939;
    margin: 0;
}
.bank-investment{
    font: normal normal normal 14px/20px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    margin: 0;
}