<ion-content style="--background: #FCFCFC;">
  <div style="margin: 25px;">
    <ion-row>
      <ion-col size="1.3" class="ion-no-padding">
        <div class="back-button-img" (click)="backBtn()">
          <img src="assets/icon/back.png">
        </div>
      </ion-col>
      <ion-col size="10.7" class="ion-no-padding">
        <p class="signup">Investment guidelines</p>
      </ion-col>
    </ion-row>
    <div style="margin-top: 19px;">
      <!-- <p class="dearname">Dear Debiprasad</p> -->
      <p class="nexttext">The following guidelines will help you make the most of your investment with savart:</p>
      <ion-row style="margin-top: 18px;">
        <ion-col size="0.7">
          <ion-icon name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="11.3">
          <p class="pointtag">We sincerly suggest that you read our complete <u>investment philosophy</u> and about our investment machine-vantage.</p>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col size="0.7">
          <ion-icon name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="11.3">
          <p class="pointtag">This recommendation will be invalid on a +5% share price increase from the price of recommendation or after 1 week from the date of recommendation.</p>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size="0.7">
          <ion-icon name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="11.3">
          <p class="pointtag">The investments can be executed through any recognized stock exchange. For example: NSE or BSE in India</p>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size="0.7">
          <ion-icon name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="11.3">
          <p class="pointtag">The portfolio construction is deliberate and balanced, based on your EFG profile. Do not make changes exceeding 10% of the component values in the recommended portfolio.</p>
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col size="0.7">
          <ion-icon name="ellipse"></ion-icon>
        </ion-col>
        <ion-col size="11.3">
          <p class="pointtag">If you do not like the recommended investment, please reach us through the Support section. The research notes are deliberately concise and explain our investment thesis in a simple language.</p>
        </ion-col>
      </ion-row>
    </div>
  </div>  
</ion-content>
