<ion-content>
  <ion-row style="margin-top:40vh;margin-left: 15vw;margin-right: 15vw;">
    <ion-col>
      <div class="text-center">
        <div style="text-align: center;">
          <ion-spinner color="primary" name="lines"></ion-spinner>
        </div>
        <div class="heading">Connecting to Upstox</div>
        <div class="desc">Please wait while we connect you to the broker. Do not refresh or close this page</div>
        <div class="powered-by">Powered by</div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>