<ion-content style="--background: #FCFCFC;">
  <div style="margin: 25px 25px 11px 25px;">
    
    <ion-row>
      <ion-col size="1.3" class="ion-no-padding">
        <div class="back-button-img" (click)="backBtn()">
          <img src="assets/icon/back.png">
        </div>
      </ion-col>
      <ion-col size="7.7" class="ion-no-padding">
        <p class="signup">Portfolio review</p>
      </ion-col>
      <ion-col size="3" style="text-align: end;" (click)="eyeicon()">
        <img src="assets/svg/iicon.svg">
      </ion-col>
    </ion-row>
  </div>   
    <div style="padding: 0 25px;background: #E0E7FC;">
      <ion-row class="row1" (click)="guideline()">
        <ion-col size="10">
          <p class="guidelinereview">Please read the portfolio review guidelines</p>
        </ion-col>
        <ion-col size="2">
          <ion-icon name="chevron-forward-outline" class="icon"></ion-icon>
        </ion-col>
      </ion-row>
    </div>
    <div style="margin: 25px;">
      <div class="first-text-div">
        <p class="first-text">Apple INC</p>
        <p class="first-text2">Mutual Fund</p>
      </div>
      <div>
        <p class="Advice">Advice</p>
        <p class="Sell">Sell</p>
      </div>
      <div>
        <p class="Action">Action</p>
        <p class="exit">Exit 25% for every 10% fall in share price from CMP.</p>
      </div>
      <p class="Rationale">Rationale</p>
      <p class="paragraph">(here the text explaining the action would be in 4-5 paragraphs; no visuals)<br> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  
</ion-content>
