.back-button-img {
    width: 24px;
    height: 24px;
}

.signup {
    margin: 0;
    color: #101923;
    font-size: 14px;
    line-height: 25px;
}

.filter-by {
    text-align: left;
    font-family: 'Roboto Medium';
    font-size: 17px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.divider {
    margin-top: 10px;
    border-bottom: 1px solid #dcdcdc;
}

.read-unread {
    text-align: left;
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin-top: 5vh;
}

.sort-by{
    @extend .read-unread;
    margin-top: 3vh;
}

ion-item {
    --background: #FCFCFC;
    height: 42px;
}

ion-label{
    font-size: 14px !important;
    font-family: 'Roboto' !important;
    letter-spacing: 0px !important;
    color: #393939 !important;
    opacity: 1 !important;
}
.clear-button{
    letter-spacing: 0px;
    color: #2835D5;
    height: 54px;
    --border-radius: 12px;
    --background: white;
    font-size: 18px;
    font-family: 'Roboto Medium';
    text-transform: capitalize;
    line-height: 38px;
}
.apply-button{
    height: 54px;
    letter-spacing: 0px;
    color: #FFFFFF;
    --background: #2835D5 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #d5d8ff29;
    --border-radius: 12px;
    font-size: 18px;
    font-family: 'Roboto Medium';
    text-transform: capitalize;
    line-height: 38px;
}