.img{
    background: url('./../../../../../assets/svg/backgroundimage.svg')no-repeat  ;
    height: 185px;--width: 100% !important;--webkit-background-size: cover;
    --moz-background-size: cover;
    content: ' ';
    display: block;
    background-size: cover;
}
.back-button-img {
    // background: transparent url(./././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}
.target{
    margin: 0;
    font: normal normal normal 12px/22px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
}
.target-goal{
    margin: 0;
    font: normal normal normal 12px/22px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    padding-top: 10px;
}
.price{
    margin: 0;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #393939;
}
.fulldv{
    margin-top: 40px;
    height: 243px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #B5BCD8;
    border-radius: 4px;
    padding: 9px;
}
.percentage{
    font-size: 24px;
    font-family: "Roboto Medium";
    letter-spacing: 0px;
    color: #20EB95;
    margin: 0;
    padding-left: 5px;
    padding-top: 7px;
}
.start-time{
    font: normal normal normal 12px/14px Roboto;
    letter-spacing: 0px;
    color: #979797;
    margin: 0;
}
.edit{
    margin: 0;
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #000000;
    text-transform: uppercase;
    padding-left: 7px;
}
ion-icon{
    padding: 1px;
    border-radius: 28px;
    border: 3px solid;
    margin-top: -12px;
}
ion-progress-bar {
    --background: green;
    --buffer-background: #DEDEDE;
    --progress-background:#11BE74;
  }