<ion-content>
  <div class="all">
    <div style="text-align: -webkit-center;" (click)="closemodal()">
      <div class="line"></div>
    </div>
    <div style="text-align: end;">
      <img src="assets/icon/modalcross.png" style="z-index: 9999;">
    </div>
    <div style="text-align: center;">
      <img src="assets/icon/investmentlink.png" (click)="closemodal()" style="z-index: 999999;">
      <p class="linkyourdemat">Link your demat account or request investment advice to create goal</p>
    </div>
    <ion-row style="padding-top: 20%;">
      <ion-col size="6">
        <ion-button expand="full" fill="outline" class="requestbutton" >Request</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" class="linkdemat-button" (click)="linkwithsignature()">Link Demat</ion-button>
      </ion-col>
    </ion-row>
  </div>  
</ion-content>