.request-summary{
    margin: 0;
    letter-spacing: 0px;
    color: #000000;
    font-size: 17px;
    font-family: 'Roboto Medium';
    text-align: start;
}
.ion-no-padding{
    text-align: end;
}
.select-countryfst{
    font: normal normal normal 12px/22px Roboto;
    letter-spacing: 0px;
    color: #8B94B4;
    margin: 0;
    padding-top: 10px;
}
.contry{
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #393939;
    margin: 0;
    padding-left: 9px;
    padding-right: 16px;
}
.select-country{
    font-size: 12px;
    margin: 0;
    letter-spacing: 0px;
    color: #8B94B4;
    margin-top: 20px;
}
.invest-amount{
    margin: 0;
    color: #393939;
    font-size: 14px;
    letter-spacing: 0px;
} 
.select-country-frequency{
    font-size: 12px;
    margin: 0;
    letter-spacing: 0px;
    color: #8B94B4;
    margin-top: 10px;
    text-align: start;
} 
.invest-amount-frequency{
    margin: 0;
    color: #393939;
    font-size: 14px;
    letter-spacing: 0px;
}  
#inve-amount{
    padding-top: 7px;
}