.back-button-img {
    background: transparent url(././../../../assets/icon/back-button-arrow.png);
    width: 24px;
    height: 24px;
}

.header-section {
    padding: 16px 25px 0px 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: #FFFFFF;
    height: 48px;
    }
.ion-no-padding{
    align-items: center;
    display: flex;
    text-align: start;
}
.signup{
    margin: 0;
    letter-spacing: 0px;
    color: #101923;
    font-size: 14px;
    line-height: 25px;
    font-family: 'Roboto Medium';
}
.india{
    letter-spacing: 0px;
    color: #000000;
    margin: 0;
    font-size: 17px;
    line-height: 23px;
    font-family: 'Roboto Medium';
    padding-left: 7px;
}
.request-adivice-button{
    width: 73px;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: 0px;
    color: #2835D5;
    border: 1px solid #293ACD;
    border-radius: 4px;
    height: 28px;
    --border-width: 0px;
    --background-focused: none;
    --border-color: #5986f0;
    background: white;
    text-transform: capitalize;
    // border: 1px solid #B5BCD8;
    font-family: 'Roboto';
}
.india-flag{
    height: 15px;
}
.image{
    height: 35px;
}
.upstox{
    padding-left: 6px;
    font: normal normal normal 16px/12px Roboto;
    letter-spacing: 0px;
    color: #393939;
    margin: 0;
}
.rw1{
    margin: 11px 0 17px 0;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #67729429;
    border-radius: 4px;
    height: 60px;
}