.tooltip{
    margin: 0;
    letter-spacing: 0px;
    color: #000000;
    font-size: 17px;
    font-family: 'Roboto Medium';
}
.description{
    font: normal normal normal 14px/19px Roboto;
    letter-spacing: 0px;
    color: #393939;
    padding-top: 4px;
}