<ion-content style="--background: #FFFFFF;">
  <div style="margin: 11px;">
    <ion-row>
      <ion-col size="10.5">
        <p class="tooltip">Tool Tip</p>
        <p class="description">If you are investing a lump-sum amount or non-monthly investment, you can input an approximate monthly quantum. You can always change these inputs and control investment amount while requesting advice.</p>
      </ion-col>
      <ion-col size="1.5">
        <img src="assets/svg/cross.svg" (click)="backBtn()">
      </ion-col>
    </ion-row>
   
  </div> 
</ion-content>