
<ion-tabs>
  <ion-tab-bar slot="bottom" class="tab-bar"> 
    <ion-tab-button tab="portfolio">
      <ion-icon name="briefcase"></ion-icon>
      <!-- <img src="assets/icon/portfolio.png"> -->
      <ion-label>Portfolio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myadvice">
      <ion-icon name="bulb"></ion-icon>
      <!-- <img src="assets/icon/advice.png"> -->
      <ion-label>Advice</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="service">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community">
      <ion-icon name="people"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      <!-- <ion-icon src="assets/svg/notification.svg"></ion-icon> -->
      <!-- <img src="assets/icon/notification.png"> -->
      <ion-label>Notification</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <!-- <ion-icon name="people"></ion-icon> -->
      <img src="assets/icon/Avatar.png">
      <ion-label>Profile</ion-label>
    </ion-tab-button> 
  </ion-tab-bar>
</ion-tabs>